.card {
  border-radius: 20px;
  font-size: 12pt;
  position: relative;
  width: 100%;
  border: 1px solid var(--border-gray);
  &__tips {
    padding: 80px 30px 30px 30px;
    p{
      font-size: 12pt;
    }
    &:before {
      content: '';
      display: inline-block;
      width: 40px;
      height: 40px;
      position: absolute;
      left: 30px;
      top: 30px;
      @include question(e32118);
    }
    &:after {
      content: '';
      display: inline-block;
      width: 10px;
      height: 10px;
      position: absolute;
      right: 30px;
      top: 30px;
      @include close(bdbdbd);
      cursor: pointer;
    }
  }
  &.add {
    padding: 23px 30px;
  }
  &__info {
    &.fill {
      width: 100%;
      h3 {
        margin-bottom: 10px;
        font-size: 11pt;
        white-space: nowrap;
      }
      padding: 15px 0;
    }
    &__container {
      h1 {
        margin-bottom: 53px;
      }
      h2 {
        margin-bottom: 26px;
      }
    }
    padding: 23px 30px 23px 30px;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
    h3 {
      font-weight: bold;
      font-size: 12pt;
    }
    p {
      font-size: 10pt;
    }
    @media(max-width: $sm) {
      h3 {
        font-size: 14pt;
      }
      p {
        font-size: 12pt;
      }
    }
  }
  &__registration {
    &__content {
      padding: 30px 30px;
      text-align: center;
      .personal {
        color: var(--gray);
        font-size: 10pt;
        padding: 8px 26px;
        margin: 0;
      }
      .input_form {
        margin-bottom: 12px;
      }
    }
    button {
      padding: 10px 26px;
      margin: 10px 0;
    }
    &__header {
      font-weight: bold;
      width: 100%;
      border-bottom: 1px solid #dadada;
      font-size: 11pt;
      display: flex;
      flex-direction: column;
    }
    &__buttons {
      display: inline-flex;
      flex-direction: column;
      .btn {
        margin: 10px 0 0 0;
      }
    }
    &__tab {
      display: flex;
      flex-direction: row;
      justify-content: center;
      .element {
        padding: 15px 5px;
        margin: 0 30px;
        border-bottom: 4px solid transparent;
        font-size: 11pt;
        display: inline-flex;
        &.button {
          cursor: pointer;
        }
        &.active {
          border-color: var(--red);
        }
      }
    }
    &__logo {
      padding: 45px 0 30px 0;
      display: flex;
      justify-content: center;
      img {
        width: auto;
        height: 42px;
        margin-right: 45px;
        &:last-child {
          margin: 0;
        }
      }
    }
    max-width: 350px;
    margin: 0 auto;
  }
  &__button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: auto;
  }
  &__text {
    .role {
      font-size: 10pt;
      color: var(--gray);
      margin: 0;
    }
    &:before {

    }
    h2 {
      color: var(--blue);
      font-size: 10pt;
      margin-bottom: 8px;
    }
    p {
      line-height: 1.2;
    }
    &__content {
      margin-bottom: 5px;
      font-size: 11pt;
    }
    &__number {
      color: var(--blue);
      font-size: 10pt;
      margin: 0;
    }

    &__price {
      font-size: 13pt;
      font-weight: bold;
      .card__subtitle {
        font-size: 9pt;
      }
    }
    &__subtitle {
      font-weight: normal;
      margin-bottom: 10px;
    }
    .gray {
      color: var(--gray);
      font-size: 10pt;
    }
  }
  &__small {
    &__header {
      font-weight: bold;
      font-size: 12pt;
      padding: 20px 20px;
      &:after {
        content: '';
        cursor: pointer;
        width: 20px;
        height: 20px;
        @include find('dbdbdb');
        position: absolute;
        right: 30px;
        top: 20px;
      }
    }
    &__list {
      .card__small {
        position: relative;
        border-top: 1px solid var(--border-gray);
        &:first-child {
          border: none;
        }
      }
      .button_container {
        margin-top: -80px;
        z-index: 1000;
        display: flex;
        display: flex;
        button {
          margin: 10px auto;
        }
      }
    }
    padding: 10px 20px;
    width: 100%;
    position: relative;
    //max-width: 345px;
    &.flag {
      &:before {
        display: inline-block;
        position: absolute;
        width: 20px;
        height: 20px;
        top: 9px;
        right: 19px;
        content: '';
        @include fav('f9b233');
      }
    }
  }
  &__news {
    padding: 20px;
    width: 100%;
    //max-width: 345px;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  &__list {
    padding: 0;
    width: 100%;
    // max-width: 530px;
    &__item {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      &:last-child {
        .card__list__item__header {
          border: none;
        }
      }
      &__header {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
        align-items: center;
        font-weight: bold;
        border-bottom: 1px solid #dadada;
        padding: 22px 5px 27px 27px;
        cursor: pointer;
      }
      .arrow {
        content: url("../img/icons/dropdown.svg");
        display: inline-block;
        width: 12px;
        height: 12px;
        line-height: 1;
        margin-right: 20px;
        transition-duration: 300ms;
      }
      &__content {
        overflow: hidden;
        width: 100%;
        height: 0;
        padding: 0 30px;
        transition-duration: 300ms;
      }
      &__block {
        padding-bottom: 10px;
        .checkbox_container {
          margin: 0px 0px 10px 60px;
        }
      }
      &__comment {
        margin-bottom: 20px;
        &__edit_form {
          border-radius: 10px;
          input {
            height: auto;
          }
        }
        &__text_container {
          padding: 15px 10px;
        }
        &__selectors {
          display: flex;
          @media(max-width: $sm) {
            flex-direction: column;
            .input_selector {
              margin-bottom: 5px;
            }
          }
          .input_selector {
            background-color: var(--light_gray);
            font-size: 10pt;
            select {
              padding: 10px 16px;
            }
            &::after {
              right: 21px;
              top: 12px;
            }
          }
        }
        &__textarea {
          width: 100%;
          color: #000;
          border: none;
          resize: none;
          font-size: 10pt;
        }
        &__attach {
          display: flex;
          margin-top: 15px;
          .image, .video {
            position: relative;
            width: 40px;
            height: 40px;
            margin-left: 15px;
            img {
              height: 100%;
              width: auto;
              border-radius: 10px;
              cursor: pointer;
            }
            &:first-child {
              margin: 0;
            }
          }
          .video {
            &:after {
              position: absolute;
              content: "";
              @include video('ffffff');
              display: inline-block;
              width: 18px;
              height: 18px;
              left: 11px;
              top: 14px;
            }
          }
        }
        &__add {
          margin-bottom: 15px;
          display: flex;
          justify-content: start;
          align-items: center;
          .btn-small {
            align-self: center;
          }
          @media(max-width: $sm) {
            flex-direction: column;
            align-items: start;
            .btn-small {
              margin-top: 5px;
              align-self: end;
            }
          }
          .card__avatar {
            max-width: 30px;
            height: 30px;
            font-size: 8pt;
            margin-bottom: 5px;
          }
          .input_form {
            flex: 1;
          }
          .attach_button {
            position: absolute;
            right: 20px;

            span {
              cursor: pointer;
              display: inline-block;
            }
            .video {
              position: absolute;
              top: 0px;
              right: 10px;
              width: 20px;
              height: 20px;
              content: "";
              @include video('3090bb');
              transition-duration: 300ms;
              &:hover {
                transform: scale(1.1);
                transition-duration: 300ms;
              }
            }
            .images {
              position: absolute;
              top: 0px;
              right: 45px;
              width: 15px;
              height: 15px;
              content: "";
              @include image('3090bb');
              transition-duration: 300ms;
              &:hover {
                transform: scale(1.1);
                transition-duration: 300ms;
              }
            }
          }
        }
        &__body {
          position: relative;
          display: flex;
        }
        &__button {
          margin-left: 32px;
          margin-bottom: 12px;
        }
        &__card {
          display: flex;
          flex-direction: row;
          justify-content: start;
          align-items: center;
          flex: 1;
          margin-bottom: 5px;
          .card__avatar {
            width: 30px;
            height: 30px;
            font-size: 8pt;
          }
        }
        &__header {
          display: flex;
          justify-content: end;
          align-items: center;
          margin-bottom: 10px;
          @media (max-width: $sm) {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: flex-start;
          }
        }
        &__name {
          display: flex;
          flex-direction: column;
          font-size: 9pt;
          h2 {
            font-size: 10pt;
            margin-bottom: 5px;
          }
          .card__subtitle {
            color: var(--gray);
          }
        }
        &__tag {
          &:first-child {
            margin: 0;
          }
          &__container {
            display: inline-block;
          }
          text-transform: uppercase;
          padding: 5px 10px;
          border: 1px solid #000000;
          border-radius: 20px;
          font-size: 6pt;
          margin-left: 10px;
          &.green {
            color: var(--green);
            border-color: var(--green);
          }
          &.red {
            color: var(--red);
            border-color: var(--red);
          }
          &.orange {
            color: var(--orange);
            border-color: var(--orange);
          }
        }
        &__text {
          background-color: var(--middle_gray);
          padding: 20px 15px;
          border: 1px solid var(--border-gray);
          border-radius: 20px;
          font-size: 10pt;
          display: inline-flex;
          flex-direction: column;
          &.edit {
            background-color: #ffffff;
            border-color: var(--blue);

            .card__list__item__comment__attach {
              .image, .video {
                &:hover {
                  &:before {
                    content: "";
                    width: 100%;
                    height: 100%;
                    background-color: var(--red);
                    cursor: pointer;
                    display: inline-block;
                    position: absolute;
                    left: 0;
                    top: 0;
                    border-radius: 10px;

                  }
                  &:after {
                    height: 18px;
                    width: 18px;
                    left: 11px;
                    top: 10px;
                    position: absolute;
                    display: inline-block;
                    content: "";
                    @include delete('ffffff');
                  }
                }
              }
              .image_add {
                border: 2px dashed var(--gray);
                color: var(--gray);
                background-color: transparent;
                font-size: 35px;
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                line-height: 1;
                margin-left: 15px;
                border-radius: 10px;
                cursor: pointer;
                position: relative;
                transition-duration: 300ms;
                &:hover {
                  transform: scale(1.1);
                  transition-duration: 300ms;
                  &:after {
                    top: 8px;
                  }
                }
                &:after {
                  content: "";
                  @include cross('dbdbdb');
                  display: inline-block;
                  width: 20px;
                  height: 20px;
                  position: absolute;
                  left: 8px;
                  top: 9px;
                }
              }
            }
          }
          &.delete {
            background-color: #ffffff;
            border-color: var(--red);

          }

          .edit_text {
            border: none;
            background-color: transparent;
            width: 100%;
            resize: vertical;
            height: auto;
          }
          .input_form {
            margin: 15px 0 0 0;
            input {
              padding: 10px 20px;
              font-size: 10pt;
              border-radius: 10px;
            }
          }

          &__delete {
            width: 15px;
            height: 15px;
            margin: 5px 20px;
            content: "";
            @include delete('dbdbdb');
            display: inline-block;
            transition-duration: 300ms;
            cursor: pointer;
            &:hover {
              transform: scale(1.2);
              transition-duration: 300ms;
            }
            &.active {
              @include delete('e32118');
            }
          }
          &__edit {
            width: 16px;
            height: 16px;
            margin: 5px 0;
            content: "";
            @include edit('bdbdbd');
            display: inline-block;
            transition-duration: 300ms;
            cursor: pointer;
            &:hover {
              transform: scale(1.2);
              transition-duration: 300ms;
            }
            &.active {
              display: none !important;
            }
          }
          &__confirm {
            color: var(--gray);
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 8px 0 10px 56px;
            font-size: 10pt;
            span {
              flex: 1;
            }
            .yes, .no {
              display: inline-block;
              width: 17px;
              height: 17px;
              cursor: pointer;
              transition-duration: 300ms;
              &:hover {
                transform: scale(1.2);
                transition-duration: 300ms;
              }
            }
            .yes {
              width: 17px;
              height: 17px;
              margin-right: 15px;
              @include check('00983a');
            }
            .no {
              width: 12px;
              @include close('e32118');
            }
          }
          &__control {
            display: flex;
            flex-direction: column;
            align-items: center;
            align-content: center;
            align-self: center;
            &.active {
              img {
                display: inline-block;
              }
            }
          }
        }
      }
      &.active {
        .arrow {
          transform: rotate(180deg);
          line-height: .8;
          transition-duration: 300ms;
        }
        .card__list__item__content {
          transition-duration: 300ms;
        }
      }
    }
  }
  &__popup {
    padding: 0;
    width: 100%;
    max-width: 345px;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.55);
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    .button {
      padding: 10px 60px;
    }
    &__input_container {
      padding: 0 25px;
    }
    &__notification {
      background-color: rgba(0, 0, 0, .5);
      padding: 10px;
      border-radius: 50px;
      color: #ffffff;
      font-size: 11pt;
      display: flex;
      align-items: center;
      font-weight: normal;
      justify-content: space-between;
      max-width: max-content;
      span {
        margin-left: 17px;
        margin-right: 15px;
      }
    }
    &__close {
      position: absolute;
      left: calc(50% - 17px);
      top: -60px;
      transform: scale(0.8);
    }
    &__header {
      font-weight: bold;
      width: 100%;
      border-bottom: 1px solid #dadada;
      padding: 18px 0;
      font-size: 11pt;
    }
    .input_selector {
      margin-bottom: 7px;
    }

    .input_form {
      textarea {
        min-height: 100px;
        margin-bottom: 13px;
      }
    }
    .photo_load {
      width: 100%;
      display: inline-block;
      font-size: 10pt;
      padding: 30px 50px;
      line-height: 1.2;
      margin-bottom: 16px;
      p {
        margin: 0
      }
    }
    h2 {
      font-size: 15pt;
      font-weight: normal;
      font-family: 'Conv_regular', Arial, Helvetica, sans-serif;
      margin: 32px 0 17px 0;
    }
  }
  &__tag {
    border: 1px solid var(--border-gray);
    border-top: none;
    position: absolute;
    right: 58px;
    width: 35px;
    height: 33px;
    top: 0;
    background-color: var(--middle_gray);
    border-radius: 0 0 25px 25px;
    &__edit {
      right: 54px;
      &:after {
        position: absolute;
        top: 5px;
        left: 7px;
        width: 21px;
        height: 21px;
        content: "";
        @include edit('bdbdbd');
      }
    }
    &__monitor {
      &:after {
        position: absolute;
        top: 9px;
        left: 5px;
        width: 24px;
        height: 24px;
        display: inline-block;
        content: "";
        @include eye('bdbdbd');
      }
    }
  }
  &__avatar {
    color: #ffffff;
    background-color: #878787;
    border-radius: 100%;
    margin-right: 16px;
    text-transform: uppercase;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__name {
    // max-width: 200px;
  }
  &__content {
    margin-bottom: 10px;
    img {
      width: 100%;
      height: auto;
    }
  }
  &__video {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    & iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    &:after {
      position: absolute;
      width: 30px;
      height: 30px;
      content: url("../img/icons/youtube.svg");
      right: 15px;
      top: 15px;
      cursor: pointer;
    }
  }
  &__date {
    font-weight: bold;
    margin-bottom: 7px;
  }
  &__map {
    position: relative;
    img {
      width: 100%;
      height: 100%;
      border-radius: 0px 0px 20px 20px;

    }
    &__full {
      img {
        border-radius: 20px 20px 20px 20px;
      }
    }
    .button_container {
      margin-top: -55px;
      padding-bottom: 10px;
      display: flex;
      justify-content: center;
      .btn {
        height: 42px;
      }
    }
    .full_button {
      position: absolute;
      top: 22px;
      right: 22px;
      transform: scale(.8);
    }
    .bottom_button {

    }
    .mark_button {
      padding: 9px 20px;
      position: relative;
      border-radius: 20px 0 0 20px;
      &:after {
        content: "";
        @include add_mark('e32118');
        display: inline-block;
        width: 22px;
        height: 22px;
        position: absolute;
        top: 9px;
        left: 11px;
      }
      &__save {
        border-radius: 0 20px 20px 0;
      }
    }
    &__header {
      background-color: #fff;
      border-radius: 20px 20px 0 0;
      padding: 22px 27px;
      font-size: 10pt;
      h2 {
        font-size: 12pt;
      }
    }
    &__small_mark {
      &.full, &.half, &.third, &.four {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        background-size: 100%;
        background-position: center center;
        font-size: 11pt;
        background-repeat: no-repeat;
      }
      &.full {
        background-image: url("../img/map/circle_1.svg")
      }
      &.half {
        background-image: url("../img/map/circle_2.svg")
      }
      &.third {
        background-image: url("../img/map/circle_3.svg")
      }
      &.four {
        background-image: url("../img/map/circle_4.svg")
      }
    }
    &__big_mark {
      display: inline-flex;
      flex-direction: column;
      font-size: 10pt;
      text-align: center;
      font-weight: normal;
      background-color: #fff;
      padding: 5px 13px;
      border-radius: 50px;
      border: 3px solid #000;
      position: relative;
      white-space: nowrap;
      &:after {
        content: '';
        display: inline-block;
        width: 10px;
        height: 10px;
        position: absolute;
        bottom: -7px;
        left: calc(50% - 5px);
        transform: rotate(45deg);
        background-color: #ffffff;
        border-bottom: 3px solid #000;
        border-right: 3px solid #000;
      }
      &.gray {
        border: 3px solid var(--gray);
        &:after {
          border-bottom: 3px solid var(--gray);
          border-right: 3px solid var(--gray);
        }
      }
      &.orange {
        border: 3px solid var(--orange);
        &:after {
          border-bottom: 3px solid var(--orange);
          border-right: 3px solid var(--orange);
        }
      }
      &.red {
        border: 3px solid var(--red);
        &:after {
          border-bottom: 3px solid var(--red);
          border-right: 3px solid var(--red);
        }
      }
      &.green {
        border: 3px solid var(--green);
        &:after {
          border-bottom: 3px solid var(--green);
          border-right: 3px solid var(--green);
        }
      }
    }
    &__price {
      font-weight: bold;
      font-size: 12pt;
    }
  }
}