.footer {
  color: var(--white);
  background-color: var(--dark_brown);
  padding: 50px 0 75px 0;
  hr {
    background-color: var(--white);
    margin: 35px 0;
  }
  &__sub_txt {
    color: #949391;
  }
  &__link {
    padding: 45px 0 45px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 280px;
    font-size: 10pt;
    a {
      color: var(--white);
    }
  }
  &__policy {
    font-family: 'Conv_medium', Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #949391;
    margin-right: 65px;
  }
  &__social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
    max-width: 120px;
    a {
      margin: 0 5px;
    }
    img {
      width: auto;
      height: 20px;
      transition-duration: 300ms;
      &:hover {
        transform: scale(1.1);
        transition-duration: 300ms;
      }
    }
  }
  &__block_1 {
    padding: 0px 20px 25px 0;
    max-width: 610px;
    width: 100%;
    font-size: 10pt;
    margin-right: 130px;
    @media (max-width: $md) {
      margin-right: 0px;
    }
    @media (max-width: $sm) {
      padding: 0px 20px 25px 20px;
    }
    &__footer {
      display: flex;
      justify-content: start;
    }
    p {
      margin-bottom: 10px;
    }
  }
  &__block_2 {
    font-size: 10pt;
    padding: 0px;
    flex: 1;
    @media (max-width: $sm) {
      padding: 0px 20px;
    }
    p {
      margin: 0 0 5px 0;
    }
    .footer__sub_txt {
      font-size: 10pt;
      margin-bottom: 20px;
    }
    .btn-main {
      margin-top: 35px;
      margin-bottom: 67px;
      box-shadow: none;
    }
  }
  &__logo {
    color: #949391;
    font-size: 7.7pt;
    display: flex;
    @media(max-width: $sm){
      flex-direction: column;
    }
    div {
      padding-bottom: 15px;
      white-space: nowrap;
    }
    a {
      color: #fff;
      padding-left: 20px;
      position: relative;
      margin-left: 5px;
      margin-right: 15px;
      font-family: 'Conv_regular', Arial, Helvetica, sans-serif;
    }
    &_1 {
      &:before {
        position: absolute;
        content: url("../img/logo/bermudas.svg");
        left: 0;
        width: 18px;
        height: 18px;
      }
    }
    &_2 {
      &:before {
        position: absolute;
        content: url("../img/logo/solorum.svg");
        top: -2px;
        left: -2px;
        width: 15px;
        height: 15px;
      }
    }
  }
}