.input_form {
  position: relative;
  margin: 0;
  display: inline-block;
  width: 100%;

  input, textarea {
    border: 1px solid #dadada;
    padding: 18px 13px 5px 13px;
    border-radius: 20px;
    width: 100%;
    color: #000000;
    height: 60px;
    font-size: 12pt;
    transition-duration: 300ms;
    &:focus {
      border: 1px solid #3bb6e6;
      outline: none;
      transition-duration: 300ms;
    }
    &:invalid {
      border: 1px solid $red;
      transition-duration: 300ms;
      box-shadow: none;
    }
    &.empty {
      color: $gray;
      font-size: 10pt;
      &:focus {
        color: $blue;
        transition-duration: 300ms;
      }
    }
  }

  textarea {
    resize: none;
    overflow: hidden;
  }

  &:focus-within {
    .label {
      color: $blue;
      transition-duration: 300ms;
      font-size: 8pt;
      top: 10px;
    }
  }

  .label {
    position: absolute;
    color: $gray;
    transition-duration: 300ms;
    left: 13px;
    font-size: 10pt;
    top: 22px;
  }

  .full {
    color: $gray;
    transition-duration: 300ms;
    font-size: 8pt;
    top: 10px;
  }

  .sub_txt {
    color: $gray;
    font-size: 9pt;
  }

  .see {
    &:after {
      cursor: pointer;
      position: absolute;
      right: 15px;
      top: 20px;
      width: 25px;
      height: 25px;
      content: "";
      @include eye(bdbdbd);
      display: inline-block;
    }
  }
  .hide {
    &:after {
      cursor: pointer;
      position: absolute;
      right: 15px;
      top: 17px;
      width: 25px;
      height: 25px;
      content: "";
      @include no_eye(bdbdbd);
      display: inline-block;
    }
  }
  .calendar {
    &:after {
      cursor: pointer;
      position: absolute;
      right: 20px;
      top: 20px;
      width: 20px;
      height: 20px;
      content: "";
      @include calendar(bdbdbd);
      display: inline-block;
    }
  }
  &.error {
    .full {
      color: $red;
    }
    .sub_txt {
      color: $red;
    }
  }
}

.input_selector {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 100%;
  transition-duration: 300ms;
  border: 1px solid #dadada;
  border-radius: 20px;
  background-color: #ffffff;
  font-size: 12pt;
  padding: 0;
  &:hover,
  &:focus {
    border: 1px solid #3bb6e6;
    transition-duration: 300ms;
  }

  &:after {
    content: "";
    @include dropdown(bdbdbd);
    display: block;
    right: 22px;
    top: 25px;
    height: 14px;
    width: 14px;
    position: absolute;
    pointer-events: none;
    .is-ie8 &,
    .is-ie9 & {
      display: none;
    }
  }

  select {
    padding: 21px 10px 21px 10px;
    width: 100%;
    color: #000;
    border: none;
    border-radius: 0;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition-duration: 300ms;
  }
  option {
    &:hover {
      background-color: #edf6f9;
      border-bottom: 1px solid #dadada;
      border-top: 1px solid #dadada;
      transition-duration: 300ms;
    }
  }
  &:focus {
    outline: none;
  }

}

.input_selector.disabled,
.disabled .input_selector {
  background-color: $gray;
  border-color: #f0f0f0;

  &:after {
    border-top-color: #999;
  }

  select {
    color: #999;
  }
}

.inputList {
  align-items: center;
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
  .input_form {
    max-width: 290px;
    width: 100%;
    @media(max-width: $md){
      max-width: none;
    }
  }
}

.empty {
  select {
    color: $gray;
    font-size: 10pt;
    &:hover {
      color: $blue;
      transition-duration: 300ms;
    }
  }

}

.disable {
  input {
    background-color: $middle_gray;
  }
}

.checkbox_container {
  line-height: 1.5;
  position: relative;
  padding-left: 36px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 10pt;
  height: 35px;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  & input:checked ~ .checkmark {
    background-color: transparent;
    &:after {
      display: inline-block;
    }
  }
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 23px;
    width: 23px;
    background-color: transparent;
    border: 1px solid $red;
    border-radius: 6px;
    &:after {
      position: absolute;
      display: none;
      left: 4px;
      top: 6px;
      width: 12px;
      height: 10px;
      content: "";
      @include check(e32118);
    }
  }
}






