.header {
  border-bottom: 1px solid #e5e9eb;
  box-shadow: 0 1px #f4f4f4;
  background-color: $white;
  height: 55px;
  padding: 0;
  &__container {
    @media(max-width: 776px) {
      padding: 0 15px;
    }
    padding-right: 25px;
    padding-left: 30px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    height: 100%
  }
  &__sub {
    border-bottom: 1px solid #e5e9eb;
    background-color: $extra_light_gray;
    box-shadow: 0 1px #f4f4f4;
    ul {
      height: 55px;
      display: flex;
      align-items: center;
      justify-content: start;
    }
  }
  &__logo {
    margin-right: 30px;
    display: flex;
    align-items: center;
    img {
      height: 30px;
      width: auto;
    }
  }
  &__item {
    margin-right: 33px;
    white-space: nowrap;
    &.active {
      a {
        color: $red !important;
      }
    }
  }
  &__link {
    padding: 0 8px;
    align-items: center;
    @media(max-width: 776px) {
      padding: 0;
      justify-content: center;
      width: 100%;
      overflow: auto;
    }
    a {
      font-size: 10pt;
    }
  }
  &__dropdown {
    padding: 0 13px;
    font-size: 14pt;
    color: $blue !important;
    transition-duration: 300ms;
    &__container {
      height: 100%;
      align-content: center;
      display: flex;
      padding-right: 13px;
      a {
        font-size: 10pt;
      }
    }
    &:hover {
      color: $blue !important;
      text-decoration: underline;
      transition-duration: 300ms;
    }
    &:active {
      color: $dark_blue !important;
      text-decoration: underline;
      transition-duration: 300ms;
    }
    &:after {
      display: inline-block;
      margin-left: 5px;
      height: 8px;
      width: 13px;
      content: "";
      mask: url("../img/icons/dropdown.svg");
      -webkit-mask: url("../img/icons/dropdown.svg");
     mask-repeat: no-repeat; -webkit-mask-repeat: no-repeat;
      mask-size: contain;
      -webkit-mask-size: contain;
      background-color: $gray;
    }
    &__menu {
      position: absolute !important;
      border-radius: 0px;
      width: 100%;
      margin-top: 0px;
      padding: 0;
      border: 1px solid #dadada;
      &__item {
        padding: 10px 1.5rem;
        font-size: 13pt;
        border-bottom: 1px solid #ffffff;
        border-top: 1px solid #ffffff;
        transition-duration: 300ms;
        &:hover {
          background-color: #edf6f9;
          border-bottom: 1px solid #dadada;
          border-top: 1px solid #dadada;
          transition-duration: 300ms;
        }
        &:active {
          color: #000;
        }
        &:first-child {
          border-top: none;
        }
        &:last-child {
          border-bottom: none;
        }
      }
    }
    &__logo {
      margin-right: 8px;
      display: inline-block;
      border-radius: 50%;
      width: 32px;
      height: 32px;
    }
  }
}