@charset "UTF-8";
@font-face {
  font-family: 'Conv_regular';
  src: url("../fonts/regular.eot");
  src: local("тШ║"), url("../fonts/regular.woff") format("woff"), url("../fonts/regular.ttf") format("truetype"), url("../fonts/regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Conv_medium';
  src: url("../fonts/medium.eot");
  src: local("тШ║"), url("../fonts/medium.woff") format("woff"), url("../fonts/medium.ttf") format("truetype"), url("../fonts/medium.svg") format("svg");
  font-weight: bold;
  font-style: normal; }
body {
  font-family: 'Conv_regular', Arial, Helvetica, sans-serif;
  font-size: 13pt;
  background-color: #f8f8f8; }

a {
  font-family: 'Conv_medium', Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #3090bb;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 300ms; }
  a:hover {
    color: #3090bb;
    text-decoration: underline;
    transition-duration: 300ms; }
  a:active {
    color: #2881a0;
    text-decoration: underline;
    transition-duration: 300ms; }

h1, h2 {
  font-family: 'Conv_medium', Arial, Helvetica, sans-serif;
  font-weight: bold; }

h1 {
  font-size: 21pt; }

h2 {
  font-size: 17pt; }

.note {
  color: #bdbdbd; }

.tag {
  font-size: 8pt;
  color: #f9b233;
  font-weight: bold; }

.container-fluid {
  padding-right: 35px;
  padding-left: 35px; }

.container {
  max-width: 1650px; }

.btn-main {
  color: #fff;
  background-color: #e32118;
  border-color: #e32118;
  border-radius: 8em;
  padding: 1rem 4rem;
  font-size: 14pt;
  transition-duration: 300ms;
  box-shadow: 0px 7px 15px 0px rgba(227, 33, 24, 0.3); }
  .btn-main:hover {
    background-color: #cf1314;
    color: #fff;
    transition-duration: 300ms;
    border-color: #e32118; }
  .btn-main:focus {
    box-shadow: 0px 7px 15px 0px rgba(227, 33, 24, 0.3); }

.btn-second {
  background-color: #f5f5f7;
  border-color: #dadada;
  color: #3090bb;
  border-radius: 8em;
  padding: 1rem 4rem;
  font-size: 14pt;
  box-shadow: none; }
  .btn-second:hover {
    background-color: #e3e3e5;
    color: #3090bb;
    box-shadow: none; }
  .btn-second:active {
    border-color: transparent; }
  .btn-second:focus {
    box-shadow: none; }

.btn-third {
  color: #3090bb;
  box-shadow: none; }
  .btn-third:hover {
    color: #3090bb;
    box-shadow: none;
    text-decoration: underline; }
  .btn-third:focus {
    box-shadow: none; }
  .btn-third:disabled {
    border: none;
    background-color: transparent; }
    .btn-third:disabled:hover {
      border: none;
      background-color: transparent;
      text-decoration: none; }

.btn-small {
  padding: 24px 25px;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; }

.btn-size:after {
  left: 15px;
  top: 14px;
  height: 20px;
  width: 20px;
  position: absolute;
  content: url("data:image/svg+xml,%3Csvg style='width: 19px;height: 19px;' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10.83398 10.83301'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23ffffff; %7D %3C/style%3E%3C/defs%3E%3Ctitle%3Esize%3C/title%3E%3Cg id='╨б╨╗╨╛╨╣_2' data-name='╨б╨╗╨╛╨╣ 2'%3E%3Cg id='UI-kit'%3E%3Cg id='Body'%3E%3Cpath class='cls-1' d='M10.834,0V5.11328a.75.75,0,0,1-1.5,0V2.56006L7.21973,4.67383A.74992.74992,0,0,1,6.15918,3.61328L8.27307,1.5H5.71973a.75.75,0,0,1,0-1.5ZM5.11426,9.333H2.56091L4.6748,7.21973A.74992.74992,0,0,0,3.61426,6.15918L1.5,8.273V5.71973a.75.75,0,0,0-1.5,0V10.833H5.11426a.75.75,0,0,0,0-1.5Z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); }

.btn-send:after {
  left: 14px;
  top: 14px;
  height: 20px;
  width: 20px;
  position: absolute;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14.60868 13.99991'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23fff; %7D %3C/style%3E%3C/defs%3E%3Ctitle%3Esend%3C/title%3E%3Cg id='╨б╨╗╨╛╨╣_2' data-name='╨б╨╗╨╛╨╣ 2'%3E%3Cg id='UI-kit'%3E%3Cg id='Body'%3E%3Cpath class='cls-1' d='M5.32606,10.72037l2.47559.84594L6.15028,13.81387a.45643.45643,0,0,1-.36768.186.46368.46368,0,0,1-.14245-.02246.45743.45743,0,0,1-.31409-.43409ZM14.41688.08462a.45713.45713,0,0,0-.476-.033L.24525,7.204a.45671.45671,0,0,0,.06335.83691L4.116,9.34219l8.1084-6.93286L5.95008,9.96866l6.38086,2.1809a.46593.46593,0,0,0,.14722.02442.45607.45607,0,0,0,.45166-.38892l1.674-11.261A.4572.4572,0,0,0,14.41688.08462Z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A"); }

.btn-close:after {
  left: 15px;
  top: 14px;
  height: 20px;
  width: 20px;
  position: absolute;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10.5 10.5'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23ffffff; %7D %3C/style%3E%3C/defs%3E%3Ctitle%3Eclose%3C/title%3E%3Cg id='╨б╨╗╨╛╨╣_2' data-name='╨б╨╗╨╛╨╣ 2'%3E%3Cg id='UI-kit'%3E%3Cg id='Body'%3E%3Cpath class='cls-1' d='M6.31055,5.25l3.96972-3.96973A.74992.74992,0,0,0,9.21973.21973L5.25,4.18945,1.28027.21973A.74992.74992,0,0,0,.21973,1.28027L4.18945,5.25.21973,9.21973a.74992.74992,0,1,0,1.06054,1.06054L5.25,6.31055l3.96973,3.96972a.74992.74992,0,0,0,1.06054-1.06054Z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); }

.btn-disabled {
  background-color: #f5f5f7;
  color: #bdbdbd;
  border: 1px solid #dadada;
  box-shadow: none; }
  .btn-disabled:hover {
    background-color: #f5f5f7;
    color: #bdbdbd;
    border: 1px solid #dadada;
    box-shadow: none; }

.tab {
  border: 1px solid #dadada;
  color: #bebebe;
  display: flex;
  border-radius: 30px;
  font-size: 16pt; }
  .tab .tab-link {
    border-color: #dee2e6 #dee2e6 #dee2e6 #dee2e6;
    background-color: #fff;
    padding: 25px 32px; }
    .tab .tab-link:first-child {
      border-radius: 30px 0 0 30px;
      border-right: 1px solid #dadada; }
    .tab .tab-link:last-child {
      border-radius: 0 30px 30px 0; }
  .tab .active {
    background-color: #e6f0f2;
    color: #000000 !important;
    transition-duration: 300ms; }
    .tab .active:hover {
      background-color: #dee9eb;
      transition-duration: 300ms; }

.popup_link {
  cursor: pointer;
  text-decoration: none;
  position: relative; }
  .popup_link img {
    width: auto;
    height: 20px; }
  .popup_link:hover:after {
    display: block; }
  .popup_link:after {
    display: none;
    position: absolute;
    content: "zakupki.gov.ru";
    text-decoration: none;
    background-color: #edf7f9;
    border-radius: 10px;
    padding: 5px 17px;
    left: 0; }

.photo-load {
  background-color: #fff;
  border-radius: 30px;
  color: #dadada;
  border: 1px dashed #dadada;
  padding: 3em 2em;
  max-width: 258px; }

.header {
  border-bottom: 1px solid #e5e9eb;
  box-shadow: 0 1px #f4f4f4;
  background-color: #ffffff;
  height: 85px; }
  .header__sub {
    border-bottom: 1px solid #e5e9eb;
    background-color: #f8f8f8;
    box-shadow: 0 1px #f4f4f4; }
    .header__sub ul {
      height: 85px;
      display: flex;
      align-items: center;
      justify-content: start; }
  .header__logo {
    margin-right: 47px; }
    .header__logo img {
      height: 42px;
      width: auto; }
  .header__item {
    margin-right: 56px; }
    .header__item.active a {
      color: #e32118 !important; }
  .header__link {
    padding: 0 13px;
    align-items: center; }
    .header__link a {
      font-size: 14pt; }
  .header__dropdown {
    padding: 0 13px;
    font-size: 14pt;
    color: #3090bb !important;
    transition-duration: 300ms; }
    .header__dropdown:hover {
      color: #3090bb !important;
      text-decoration: underline;
      transition-duration: 300ms; }
    .header__dropdown:active {
      color: #2881a0 !important;
      text-decoration: underline;
      transition-duration: 300ms; }
    .header__dropdown:after {
      display: inline-block;
      margin-left: 5px;
      height: auto;
      width: 13px;
      height: auto;
      content: url("../img/icons/dropdown.svg"); }
    .header__dropdown__menu {
      position: absolute !important;
      border-radius: 0px;
      width: 100%;
      margin-top: 15px;
      padding: 0;
      border: 1px solid #dadada; }
      .header__dropdown__menu__item {
        padding: 10px 1.5rem;
        font-size: 13pt;
        border-bottom: 1px solid #ffffff;
        border-top: 1px solid #ffffff;
        transition-duration: 300ms; }
        .header__dropdown__menu__item:hover {
          background-color: #edf6f9;
          border-bottom: 1px solid #dadada;
          border-top: 1px solid #dadada;
          transition-duration: 300ms; }
        .header__dropdown__menu__item:active {
          color: #000; }
        .header__dropdown__menu__item:first-child {
          border-top: none; }
        .header__dropdown__menu__item:last-child {
          border-bottom: none; }
    .header__dropdown__logo {
      margin-right: 20px;
      display: inline-block;
      border-radius: 50%; }

.footer {
  color: #ffffff;
  background-color: #282423;
  padding: 80px 0; }
  .footer hr {
    background-color: #ffffff;
    margin: 50px 0; }
  .footer__sub_txt {
    color: #949391; }
  .footer__link {
    padding: 70px 0 55px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 410px; }
    .footer__link a {
      color: #ffffff; }
  .footer__policy {
    font-family: 'Conv_medium', Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #949391; }
  .footer__social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
    max-width: 180px; }
    .footer__social img {
      width: auto;
      height: 30px;
      transition-duration: 300ms; }
      .footer__social img:hover {
        transform: scale(1.1);
        transition-duration: 300ms; }
  .footer__block_1 {
    flex: 1.05;
    padding-left: 18px;
    margin-right: 29%; }
    .footer__block_1__footer {
      display: flex;
      justify-content: space-between; }
  .footer__block_2 {
    flex: 1;
    font-size: 17pt; }
    .footer__block_2 p {
      margin: 0; }
    .footer__block_2 .footer__sub_txt {
      font-size: 15pt;
      margin-bottom: 1rem; }
    .footer__block_2 .btn-main {
      margin-top: 56px;
      margin-bottom: 100px;
      box-shadow: none; }
  .footer__logo {
    color: #949391;
    font-size: 11pt; }
    .footer__logo a {
      color: #fff;
      padding-left: 30px;
      position: relative;
      margin-left: 8px;
      margin-right: 30px; }
      .footer__logo a:before {
        width: 25px;
        height: 15px;
        position: absolute;
        left: 0; }
    .footer__logo_1:before {
      content: url("../img/logo/bermudas.svg"); }
    .footer__logo_2:before {
      content: url("../img/logo/solorum.svg");
      top: -5px; }

.input_form {
  position: relative;
  width: 440px; }
  .input_form input {
    border: 1px solid #dadada;
    padding: 32px 22px 13px 22px;
    border-radius: 30px;
    width: 100%;
    color: #000000;
    font-size: 20pt;
    transition-duration: 300ms; }
    .input_form input:focus {
      border: 1px solid #3bb6e6;
      transition-duration: 300ms; }
    .input_form input:invalid {
      border: 1px solid #e32118;
      transition-duration: 300ms;
      box-shadow: none; }
  .input_form:focus-within .label {
    color: #3090bb;
    transition-duration: 300ms;
    font-size: 12pt;
    top: 10px; }
  .input_form .label {
    position: absolute;
    color: #bdbdbd;
    transition-duration: 300ms;
    left: 23px;
    font-size: 15pt;
    top: 28px; }
  .input_form .full {
    color: #bdbdbd;
    transition-duration: 300ms;
    font-size: 12pt;
    top: 10px; }
  .input_form .error {
    color: #e32118; }
  .input_form .sub_txt {
    color: #bdbdbd;
    font-size: 14pt; }
  .input_form .see:after {
    cursor: pointer;
    position: absolute;
    right: 18px;
    top: 28px;
    width: 37px;
    height: 37px;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 23.5 17.5'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23bdbdbd; %7D %3C/style%3E%3C/defs%3E%3Ctitle%3Eeye%3C/title%3E%3Cg id='╨б╨╗╨╛╨╣_2' data-name='╨б╨╗╨╛╨╣ 2'%3E%3Cg id='UI-kit'%3E%3Cg id='Body'%3E%3Cpath class='cls-1' d='M23.4209,8.415C23.249,8.07129,19.12891,0,11.75,0S.251,8.07129.0791,8.415a.74875.74875,0,0,0,0,.66992C.251,9.42871,4.37109,17.5,11.75,17.5S23.249,9.42871,23.4209,9.085A.74875.74875,0,0,0,23.4209,8.415ZM11.75,16C6.09473,16,2.44043,10.21777,1.60352,8.749,2.43848,7.28027,6.08105,1.5,11.75,1.5c5.65527,0,9.30957,5.78223,10.14648,7.251C21.06152,10.21973,17.419,16,11.75,16Zm0-11A3.75,3.75,0,1,0,15.5,8.75,3.75473,3.75473,0,0,0,11.75,5Zm0,6A2.25,2.25,0,1,1,14,8.75,2.25309,2.25309,0,0,1,11.75,11Z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    display: inline-block; }
  .input_form .hide:after {
    cursor: pointer;
    position: absolute;
    right: 18px;
    top: 23px;
    width: 37px;
    height: 37px;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 23.50032 23.5'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23bdbdbd; %7D %3C/style%3E%3C/defs%3E%3Ctitle%3Eno eye%3C/title%3E%3Cg id='╨б╨╗╨╛╨╣_2' data-name='╨б╨╗╨╛╨╣ 2'%3E%3Cg id='UI-kit'%3E%3Cg id='Body'%3E%3Cpath class='cls-1' d='M8.92024,4.16113a.751.751,0,0,1,.55957-.90136A9.21573,9.21573,0,0,1,11.75228,3c7.37695,0,11.49707,8.07129,11.66894,8.415a.74856.74856,0,0,1-.00977.68848,19.24425,19.24425,0,0,1-2.24609,3.31933.75.75,0,0,1-1.14844-.96484,17.77613,17.77613,0,0,0,1.87891-2.709C21.057,10.27832,17.40364,4.5,11.75032,4.5h-.02246a8.36069,8.36069,0,0,0-1.90625.2207A.74948.74948,0,0,1,8.92024,4.16113ZM23.2806,23.28027a.74972.74972,0,0,1-1.06055,0L17.6053,18.66553A10.90761,10.90761,0,0,1,11.763,20.5C4.37142,20.5.2513,12.42871.07942,12.085a.74763.74763,0,0,1,.00977-.68945A19.04883,19.04883,0,0,1,4.70613,5.76636L.22005,1.28027A.74992.74992,0,1,1,1.2806.21973l22,22A.74973.74973,0,0,1,23.2806,23.28027ZM10.14192,13.4707a2.18317,2.18317,0,0,0,1.61328.60254,2.22531,2.22531,0,0,0,.9834-.27441L9.70052,10.76074A2.24952,2.24952,0,0,0,10.14192,13.4707Zm6.37964,4.11109-2.69092-2.69092a3.71641,3.71641,0,0,1-2.0227.6814q-.06738.00293-.13477.00293A3.73152,3.73152,0,0,1,8.61861,9.67871L5.76705,6.82715A17.54744,17.54744,0,0,0,1.60579,11.752C2.44466,13.22461,6.098,19,11.75032,19A9.376,9.376,0,0,0,16.52156,17.58179Z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    display: inline-block; }
  .input_form .calendar:after {
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 27px;
    width: 30px;
    height: 30px;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 19.5 21.5'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23bdbdbd; %7D %3C/style%3E%3C/defs%3E%3Ctitle%3Ecalendar%3C/title%3E%3Cg id='╨б╨╗╨╛╨╣_2' data-name='╨б╨╗╨╛╨╣ 2'%3E%3Cg id='UI-kit'%3E%3Cg id='Body'%3E%3Cpath class='cls-1' d='M16.75,2H14.5V.75a.75.75,0,0,0-1.5,0V2H6.5V.75A.75.75,0,0,0,5,.75V2H2.75A2.7528,2.7528,0,0,0,0,4.75v14A2.7528,2.7528,0,0,0,2.75,21.5h14a2.7528,2.7528,0,0,0,2.75-2.75v-14A2.7528,2.7528,0,0,0,16.75,2Zm-14,1.5H5V4.75a.75.75,0,0,0,1.5,0V3.5H13V4.75a.75.75,0,0,0,1.5,0V3.5h2.25A1.25116,1.25116,0,0,1,18,4.75V8H1.5V4.75A1.25116,1.25116,0,0,1,2.75,3.5Zm14,16.5h-14A1.25116,1.25116,0,0,1,1.5,18.75V9.5H18v9.25A1.25116,1.25116,0,0,1,16.75,20Z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    display: inline-block; }

.disable input {
  background-color: #f5f5f7; }

/*# sourceMappingURL=style.css.map */
