$gray: #bdbdbd;
$light_gray: #f5f5f6;
$extra_light_gray: #f8f8f8;
$middle_gray: #f5f5f7;
$white: #ffffff;
$blue: #3090bb;
$dark_blue: #2881a0;
$red: #e32118;
$dark_red: #cf1314;
$green: #00983a;
$orange: #f9b233;
$dark_brown: #282423;

@import "svg";
@import "forms";
@import "header";
@import "footer";
@import "card";

@font-face {
  font-family: 'Conv_regular';
  src: url('../fonts/regular.eot');
  src: local('☺'), url('../fonts/regular.woff') format('woff'), url('../fonts/regular.ttf') format('truetype'), url('../fonts/regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_medium';
  src: url('../fonts/medium.eot');
  src: local('☺'), url('../fonts/medium.woff') format('woff'), url('../fonts/medium.ttf') format('truetype'), url('../fonts/medium.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}

html, body {
  height: 100%;
}

main {
  padding: 30px 0;
}

body {
  font-family: 'Conv_regular', Arial, Helvetica, sans-serif;
  font-size: 10pt;
  background-color: $extra_light_gray;
  line-height: 1.1;
  display: flex;
  justify-content: start;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

a {
  font-family: 'Conv_medium', Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: $blue;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 300ms;
  &:hover {
    color: $blue;
    text-decoration: underline;
    transition-duration: 300ms;
  }
  &:active {
    color: $dark_blue;
    text-decoration: underline;
    transition-duration: 300ms;
  }
}

h1, h2 {
  font-family: 'Conv_medium', Arial, Helvetica, sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 16pt;
}

h2 {
  font-size: 14pt;
}

h3 {
  font-size: 12pt;
}

.note {
  color: $gray;
}

.tag {
  font-size: 7pt;
  color: $orange;
  font-weight: bold;
}

.btn-main {
  color: #fff;
  background-color: $red;
  border-color: $red;
  border-radius: 8em;
  padding: 10px 37px;
  font-size: 10pt;
  transition-duration: 300ms;
  box-shadow: 0px 7px 15px 0px rgba(227, 33, 24, .3);
  &:hover {
    background-color: $dark_red;
    color: #fff;
    transition-duration: 300ms;
    border-color: $red;
  }
  &:focus {
    box-shadow: 0px 7px 15px 0px rgba(227, 33, 24, .3);
  }
}

.btn-second {
  background-color: $middle_gray;
  border-color: #dadada;
  color: $blue;
  border-radius: 8em;
  padding: 10px 37px;
  font-size: 10pt;
  box-shadow: none;
  &:hover {
    background-color: #e3e3e5;
    color: $blue;
    box-shadow: none;
  }
  &:active {
    border-color: transparent;

  }
  &:focus {
    box-shadow: none;
  }
}

.btn-third {
  color: $blue;
  box-shadow: none;
  font-size: 10pt;
  &:hover {
    color: $blue;
    box-shadow: none;
    text-decoration: underline;
  }
  &:focus {
    box-shadow: none;
  }
  &:disabled {
    border: none;
    background-color: transparent;
    &:hover {
      border: none;
      background-color: transparent;
      text-decoration: none;
    }
  }
}

.btn-small {
  padding: 17px 17px;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 20px;
  height: 20px;
}

.btn-size {
  &:after {
    left: 10px;
    top: 9px;
    height: 13px;
    width: 13px;
    position: absolute;
    content: "";
    @include size(ffffff);
  }
}

.btn-send {
  &:after {
    left: 10px;
    top: 9px;
    height: 14px;
    width: 14px;
    position: absolute;
    content: "";
    @include send(ffffff);
  }
}

.btn-check {
  &:after {
    left: 7px;
    top: 7px;
    height: 20px;
    width: 20px;
    position: absolute;
    content: "";
    @include check(ffffff);
  }
}

.btn-close {
  &:after {
    left: 10px;
    top: 10px;
    height: 13px;
    width: 13px;
    position: absolute;
    content: "";
    @include close(ffffff);
  }
}

.btn-disabled {
  background-color: $middle_gray;
  color: $gray;
  border: 1px solid #dadada;
  box-shadow: none;
  &:hover {
    background-color: $middle_gray;
    color: $gray;
    border: 1px solid #dadada;
    box-shadow: none;
  }
}

.tab {
  border: 1px solid #dadada;
  color: #bebebe;
  display: flex;
  border-radius: 20px;
  font-size: 11pt;
  .tab-link {
    border-color: #dee2e6 #dee2e6 #dee2e6 #dee2e6;
    background-color: #fff;
    padding: 21px;
    &:first-child {
      border-radius: 20px 0 0 20px;
      border-right: 1px solid #dadada;
    }
    &:last-child {
      border-radius: 0 20px 20px 0;
    }
  }
  .active {
    background-color: #e6f0f2;
    color: #000000 !important;
    transition-duration: 300ms;
    &:hover {
      background-color: #dee9eb;
      transition-duration: 300ms;
    }
  }
}

.popup_link {
  cursor: pointer;
  text-decoration: none;
  position: relative;
  img {
    width: auto;
    height: 20px;
  }
  &:hover {
    &:after {
      display: block;
    }
  }
  &:after {
    display: none;
    position: absolute;
    content: "zakupki.gov.ru";
    text-decoration: none;
    background-color: #edf7f9;
    border-radius: 10px;
    padding: 10px 14px;
    left: 0;
  }
}

.photo_load {
  background-color: #fff;
  border-radius: 20px;
  color: #dadada;
  border: 1px dashed #dadada;
  padding: 40px 14px;
}

.notion {
  color: red;
  font-size: 10pt;
  line-height: -1;
}