@charset "UTF-8";
.input_form {
  position: relative;
  margin: 0;
  display: inline-block;
  width: 100%; }
  .input_form input, .input_form textarea {
    border: 1px solid #dadada;
    padding: 18px 13px 5px 13px;
    border-radius: 20px;
    width: 100%;
    color: #000000;
    height: 60px;
    font-size: 12pt;
    transition-duration: 300ms; }
    .input_form input:focus, .input_form textarea:focus {
      border: 1px solid #3bb6e6;
      outline: none;
      transition-duration: 300ms; }
    .input_form input:invalid, .input_form textarea:invalid {
      border: 1px solid #e32118;
      transition-duration: 300ms;
      box-shadow: none; }
    .input_form input.empty, .input_form textarea.empty {
      color: #bdbdbd;
      font-size: 10pt; }
      .input_form input.empty:focus, .input_form textarea.empty:focus {
        color: #3090bb;
        transition-duration: 300ms; }
  .input_form textarea {
    resize: none;
    overflow: hidden; }
  .input_form:focus-within .label {
    color: #3090bb;
    transition-duration: 300ms;
    font-size: 8pt;
    top: 10px; }
  .input_form .label {
    position: absolute;
    color: #bdbdbd;
    transition-duration: 300ms;
    left: 13px;
    font-size: 10pt;
    top: 22px; }
  .input_form .full {
    color: #bdbdbd;
    transition-duration: 300ms;
    font-size: 8pt;
    top: 10px; }
  .input_form .sub_txt {
    color: #bdbdbd;
    font-size: 10pt; }
  .input_form .see:after {
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 20px;
    width: 25px;
    height: 25px;
    content: "";
    mask: url("../img/icons/eye.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: #bdbdbd;
    display: inline-block; }
  .input_form .hide:after {
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 17px;
    width: 25px;
    height: 25px;
    content: "";
    mask: url("../img/icons/no_eye.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: #bdbdbd;
    display: inline-block; }
  .input_form .calendar:after {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 20px;
    height: 20px;
    content: "";
    mask: url("../img/icons/calendar.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: #bdbdbd;
    display: inline-block; }
  .input_form.error .full {
    color: #e32118; }
  .input_form.error .sub_txt {
    color: #e32118; }

.input_selector {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 100%;
  transition-duration: 300ms;
  border: 1px solid #dadada;
  border-radius: 20px;
  background-color: #ffffff;
  font-size: 12pt;
  padding: 0; }
  .input_selector:hover, .input_selector:focus {
    border: 1px solid #3bb6e6;
    transition-duration: 300ms; }
  .input_selector:after {
    content: "";
    mask: url("../img/icons/dropdown.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: #bdbdbd;
    display: block;
    right: 22px;
    top: 25px;
    height: 14px;
    width: 14px;
    position: absolute;
    pointer-events: none; }
    .is-ie8 .input_selector:after, .is-ie9 .input_selector:after {
      display: none; }
  .input_selector select {
    padding: 21px 10px 21px 10px;
    width: 100%;
    color: #000;
    border: none;
    border-radius: 0;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition-duration: 300ms; }
  .input_selector option:hover {
    background-color: #edf6f9;
    border-bottom: 1px solid #dadada;
    border-top: 1px solid #dadada;
    transition-duration: 300ms; }
  .input_selector:focus {
    outline: none; }

.input_selector.disabled,
.disabled .input_selector {
  background-color: #bdbdbd;
  border-color: #f0f0f0; }
  .input_selector.disabled:after,
  .disabled .input_selector:after {
    border-top-color: #999; }
  .input_selector.disabled select,
  .disabled .input_selector select {
    color: #999; }

.inputList {
  align-items: center; }
  .inputList:first-child {
    margin-left: 0; }
  .inputList:last-child {
    margin-right: 0; }
  .inputList .input_form {
    max-width: 290px;
    width: 100%; }

.empty select {
  color: #bdbdbd;
  font-size: 10pt; }
  .empty select:hover {
    color: #3090bb;
    transition-duration: 300ms; }

.disable input {
  background-color: #f5f5f7; }

.checkbox_container {
  line-height: 1.5;
  position: relative;
  padding-left: 36px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 10pt;
  height: 35px; }
  .checkbox_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0; }
  .checkbox_container input:checked ~ .checkmark {
    background-color: transparent; }
    .checkbox_container input:checked ~ .checkmark:after {
      display: inline-block; }
  .checkbox_container .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 23px;
    width: 23px;
    background-color: transparent;
    border: 1px solid #e32118;
    border-radius: 6px; }
    .checkbox_container .checkmark:after {
      position: absolute;
      display: none;
      left: 4px;
      top: 6px;
      width: 12px;
      height: 10px;
      content: "";
      mask: url("../img/icons/check.svg");
      mask-size: contain;
      mask-repeat: no-repeat;
      background-color: #e32118; }

.header {
  border-bottom: 1px solid #e5e9eb;
  box-shadow: 0 1px #f4f4f4;
  background-color: #ffffff;
  height: 55px;
  padding: 0; }
  .header__container {
    padding-right: 25px;
    padding-left: 30px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    height: 100%; }
    @media (max-width: 776px) {
      .header__container {
        padding: 0 15px; } }
  .header__sub {
    border-bottom: 1px solid #e5e9eb;
    background-color: #f8f8f8;
    box-shadow: 0 1px #f4f4f4; }
    .header__sub ul {
      height: 55px;
      display: flex;
      align-items: center;
      justify-content: start; }
  .header__logo {
    margin-right: 30px;
    display: flex;
    align-items: center; }
    .header__logo img {
      height: 30px;
      width: auto; }
  .header__item {
    margin-right: 33px;
    white-space: nowrap; }
    .header__item.active a {
      color: #e32118 !important; }
  .header__link {
    padding: 0 8px;
    align-items: center; }
    @media (max-width: 776px) {
      .header__link {
        padding: 0;
        justify-content: center;
        width: 100%;
        overflow: auto; } }
    .header__link a {
      font-size: 10pt; }
  .header__dropdown {
    padding: 0 13px;
    font-size: 14pt;
    color: #3090bb !important;
    transition-duration: 300ms; }
    .header__dropdown__container {
      height: 100%;
      align-content: center;
      display: flex;
      padding-right: 13px; }
      .header__dropdown__container a {
        font-size: 10pt; }
    .header__dropdown:hover {
      color: #3090bb !important;
      text-decoration: underline;
      transition-duration: 300ms; }
    .header__dropdown:active {
      color: #2881a0 !important;
      text-decoration: underline;
      transition-duration: 300ms; }
    .header__dropdown:after {
      display: inline-block;
      margin-left: 5px;
      height: 8px;
      width: 13px;
      content: "";
      mask: url("../img/icons/dropdown.svg");
      mask-repeat: no-repeat;
      mask-size: contain;
      background-color: #bdbdbd; }
    .header__dropdown__menu {
      position: absolute !important;
      border-radius: 0px;
      width: 100%;
      margin-top: 0px;
      padding: 0;
      border: 1px solid #dadada; }
      .header__dropdown__menu__item {
        padding: 10px 1.5rem;
        font-size: 13pt;
        border-bottom: 1px solid #ffffff;
        border-top: 1px solid #ffffff;
        transition-duration: 300ms; }
        .header__dropdown__menu__item:hover {
          background-color: #edf6f9;
          border-bottom: 1px solid #dadada;
          border-top: 1px solid #dadada;
          transition-duration: 300ms; }
        .header__dropdown__menu__item:active {
          color: #000; }
        .header__dropdown__menu__item:first-child {
          border-top: none; }
        .header__dropdown__menu__item:last-child {
          border-bottom: none; }
    .header__dropdown__logo {
      margin-right: 8px;
      display: inline-block;
      border-radius: 50%;
      width: 32px;
      height: 32px; }

.footer {
  color: #ffffff;
  background-color: #282423;
  padding: 50px 0 75px 0; }
  .footer hr {
    background-color: #ffffff;
    margin: 35px 0; }
  .footer__sub_txt {
    color: #949391; }
  .footer__link {
    padding: 45px 0 45px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 280px;
    font-size: 10pt; }
    .footer__link a {
      color: #ffffff; }
  .footer__policy {
    font-family: 'Conv_medium', Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #949391;
    margin-right: 65px; }
  .footer__social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
    max-width: 120px; }
    .footer__social a {
      margin: 0 5px; }
    .footer__social img {
      width: auto;
      height: 20px;
      transition-duration: 300ms; }
      .footer__social img:hover {
        transform: scale(1.1);
        transition-duration: 300ms; }
  .footer__block_1 {
    padding: 0px 20px 25px 0;
    max-width: 610px;
    width: 100%;
    font-size: 10pt;
    margin-right: 130px; }
    @media (max-width: 768px) {
      .footer__block_1 {
        margin-right: 0px; } }
    @media (max-width: 576px) {
      .footer__block_1 {
        padding: 0px 20px 25px 20px; } }
    .footer__block_1__footer {
      display: flex;
      justify-content: start; }
    .footer__block_1 p {
      margin-bottom: 10px; }
  .footer__block_2 {
    font-size: 10pt;
    padding: 0px;
    flex: 1; }
    @media (max-width: 576px) {
      .footer__block_2 {
        padding: 0px 20px; } }
    .footer__block_2 p {
      margin: 0 0 5px 0; }
    .footer__block_2 .footer__sub_txt {
      font-size: 10pt;
      margin-bottom: 20px; }
    .footer__block_2 .btn-main {
      margin-top: 35px;
      margin-bottom: 67px;
      box-shadow: none; }
  .footer__logo {
    color: #949391;
    font-size: 7.7pt;
    display: flex; }
    .footer__logo div {
      padding-bottom: 15px;
      white-space: nowrap; }
    .footer__logo a {
      color: #fff;
      padding-left: 20px;
      position: relative;
      margin-left: 5px;
      margin-right: 15px;
      font-family: 'Conv_regular', Arial, Helvetica, sans-serif; }
    .footer__logo_1:before {
      position: absolute;
      content: url("../img/logo/bermudas.svg");
      left: 0;
      width: 18px;
      height: 18px; }
    .footer__logo_2:before {
      position: absolute;
      content: url("../img/logo/solorum.svg");
      top: -2px;
      left: -2px;
      width: 15px;
      height: 15px; }

.card {
  border-radius: 20px;
  font-size: 12pt;
  position: relative;
  flex: 1; }
  .card__registration {
    max-width: 350px;
    margin: 0 auto; }
    .card__registration__content {
      padding: 30px 30px;
      text-align: center; }
      .card__registration__content .personal {
        color: #bdbdbd;
        font-size: 10pt;
        padding: 8px 26px;
        margin: 0; }
      .card__registration__content .input_form {
        margin-bottom: 12px; }
    .card__registration button {
      padding: 10px 26px;
      margin: 10px 0; }
    .card__registration__header {
      font-weight: bold;
      width: 100%;
      border-bottom: 1px solid #dadada;
      font-size: 11pt;
      display: flex;
      flex-direction: column; }
    .card__registration__tab {
      display: flex;
      flex-direction: row;
      justify-content: center; }
      .card__registration__tab .button {
        padding: 15px 5px;
        margin: 0 30px;
        border-bottom: 4px solid transparent;
        font-size: 11pt;
        cursor: pointer;
        display: inline-flex; }
        .card__registration__tab .button.active {
          border-color: #e32118; }
    .card__registration__logo {
      padding: 45px 0 30px 0;
      display: flex;
      justify-content: center; }
      .card__registration__logo img {
        width: auto;
        height: 42px;
        margin-right: 45px; }
        .card__registration__logo img:last-child {
          margin: 0; }
  .card__button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: auto; }
  .card__text h2 {
    color: #3090bb;
    font-size: 10pt;
    margin-bottom: 8px; }
  .card__text p {
    line-height: 1.2; }
  .card__text__content {
    margin-bottom: 5px;
    font-size: 11pt; }
  .card__text__number {
    color: #3090bb;
    font-size: 10pt;
    margin: 0; }
  .card__text__price {
    font-size: 13pt;
    font-weight: bold; }
    .card__text__price .card__subtitle {
      font-size: 9pt; }
  .card__text__subtitle {
    font-weight: normal;
    margin-bottom: 10px; }
  .card__text .gray {
    color: #bdbdbd;
    font-size: 10pt; }
  .card__small {
    padding: 10px 20px;
    width: 100%;
    max-width: 345px; }
  .card__news {
    padding: 20px;
    width: 100%;
    max-width: 345px;
    display: flex;
    flex-direction: column;
    justify-content: start; }
  .card__list {
    padding: 0;
    width: 100%;
    max-width: 530px; }
    .card__list__item {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      cursor: pointer; }
      .card__list__item:last-child .card__list__item__header {
        border: none; }
      .card__list__item__header {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
        align-items: center;
        font-weight: bold;
        border-bottom: 1px solid #dadada;
        padding: 22px 5px 27px 27px; }
      .card__list__item .arrow {
        content: url("../img/icons/dropdown.svg");
        display: inline-block;
        width: 12px;
        height: 12px;
        line-height: 1;
        margin-right: 20px;
        transition-duration: 300ms; }
      .card__list__item__content {
        overflow: hidden;
        width: 100%;
        height: 0;
        padding: 0 30px;
        transition-duration: 300ms; }
      .card__list__item__block {
        padding-bottom: 10px; }
        .card__list__item__block .checkbox_container {
          margin: 0px 0px 10px 60px; }
      .card__list__item__comment {
        margin-bottom: 20px; }
        .card__list__item__comment__edit_form {
          border-radius: 10px; }
          .card__list__item__comment__edit_form input {
            height: auto; }
        .card__list__item__comment__text_container {
          padding: 15px 10px; }
        .card__list__item__comment__selectors {
          display: flex; }
          .card__list__item__comment__selectors .input_selector {
            background-color: #f5f5f6;
            font-size: 10pt; }
            .card__list__item__comment__selectors .input_selector select {
              padding: 10px 16px; }
            .card__list__item__comment__selectors .input_selector::after {
              right: 21px;
              top: 12px; }
        .card__list__item__comment__textarea {
          width: 100%;
          color: #000;
          border: none;
          resize: none;
          font-size: 10pt; }
        .card__list__item__comment__attach {
          display: flex;
          margin-top: 15px; }
          .card__list__item__comment__attach .image, .card__list__item__comment__attach .video {
            position: relative;
            width: 40px;
            height: 40px;
            margin-left: 15px; }
            .card__list__item__comment__attach .image img, .card__list__item__comment__attach .video img {
              height: 100%;
              width: auto;
              border-radius: 10px;
              cursor: pointer; }
            .card__list__item__comment__attach .image:first-child, .card__list__item__comment__attach .video:first-child {
              margin: 0; }
          .card__list__item__comment__attach .video:after {
            position: absolute;
            content: "";
            mask: url("../img/icons/video.svg");
            mask-size: contain;
            mask-repeat: no-repeat;
            background-color: #ffffff;
            display: inline-block;
            width: 18px;
            height: 18px;
            left: 11px;
            top: 14px; }
        .card__list__item__comment__add {
          margin-bottom: 15px;
          display: flex;
          justify-content: start;
          align-items: center; }
          .card__list__item__comment__add .btn-small {
            align-self: center; }
          .card__list__item__comment__add .card__avatar {
            width: 30px;
            height: 30px;
            font-size: 8pt; }
          .card__list__item__comment__add .input_form {
            flex: 1; }
          .card__list__item__comment__add .attach_button {
            position: absolute;
            right: 20px; }
            .card__list__item__comment__add .attach_button span {
              cursor: pointer;
              display: inline-block; }
            .card__list__item__comment__add .attach_button .video {
              position: absolute;
              top: 10px;
              right: 10px;
              width: 20px;
              height: 20px;
              content: "";
              mask: url("../img/icons/video.svg");
              mask-size: contain;
              mask-repeat: no-repeat;
              background-color: #3090bb;
              transition-duration: 300ms; }
              .card__list__item__comment__add .attach_button .video:hover {
                transform: scale(1.1);
                transition-duration: 300ms; }
            .card__list__item__comment__add .attach_button .images {
              position: absolute;
              top: 10px;
              right: 45px;
              width: 15px;
              height: 15px;
              content: "";
              mask: url("../img/icons/image.svg");
              mask-size: contain;
              mask-repeat: no-repeat;
              background-color: #3090bb;
              transition-duration: 300ms; }
              .card__list__item__comment__add .attach_button .images:hover {
                transform: scale(1.1);
                transition-duration: 300ms; }
        .card__list__item__comment__body {
          position: relative;
          display: flex; }
        .card__list__item__comment__button {
          margin-left: 32px;
          margin-bottom: 12px; }
        .card__list__item__comment__card {
          display: flex;
          flex-direction: row;
          justify-content: start;
          align-items: center;
          flex: 1; }
          .card__list__item__comment__card .card__avatar {
            width: 30px;
            height: 30px;
            font-size: 8pt; }
        .card__list__item__comment__header {
          display: flex;
          justify-content: end;
          align-items: center;
          margin-bottom: 10px; }
        .card__list__item__comment__name {
          display: flex;
          flex-direction: column;
          font-size: 9pt; }
          .card__list__item__comment__name h2 {
            font-size: 10pt;
            margin-bottom: 5px; }
          .card__list__item__comment__name .card__subtitle {
            color: #bdbdbd; }
        .card__list__item__comment__tag {
          text-transform: uppercase;
          padding: 5px 10px;
          border: 1px solid #000000;
          border-radius: 20px;
          font-size: 6pt;
          margin-left: 10px; }
          .card__list__item__comment__tag.green {
            color: #00983a;
            border-color: #00983a; }
          .card__list__item__comment__tag.red {
            color: #e32118;
            border-color: #e32118; }
          .card__list__item__comment__tag.orange {
            color: #f9b233;
            border-color: #f9b233; }
        .card__list__item__comment__text {
          background-color: #f5f5f7;
          padding: 20px 15px;
          border: 1px solid #bdbdbd;
          border-radius: 20px;
          font-size: 10pt;
          display: inline-flex;
          flex-direction: column;
          margin-left: 40px; }
          .card__list__item__comment__text.edit {
            background-color: #ffffff;
            border-color: #3090bb; }
            .card__list__item__comment__text.edit .card__list__item__comment__attach .image:hover:before, .card__list__item__comment__text.edit .card__list__item__comment__attach .video:hover:before {
              content: "";
              width: 100%;
              height: 100%;
              background-color: #e32118;
              cursor: pointer;
              display: inline-block;
              position: absolute;
              left: 0;
              top: 0;
              border-radius: 10px; }
            .card__list__item__comment__text.edit .card__list__item__comment__attach .image:hover:after, .card__list__item__comment__text.edit .card__list__item__comment__attach .video:hover:after {
              height: 18px;
              width: 18px;
              left: 11px;
              top: 10px;
              position: absolute;
              display: inline-block;
              content: "";
              mask: url("../img/icons/delete.svg");
              mask-size: contain;
              mask-repeat: no-repeat;
              background-color: #ffffff; }
            .card__list__item__comment__text.edit .card__list__item__comment__attach .image_add {
              border: 2px dashed #bdbdbd;
              color: #bdbdbd;
              background-color: transparent;
              font-size: 35px;
              width: 40px;
              height: 40px;
              display: flex;
              justify-content: center;
              align-items: center;
              line-height: 1;
              margin-left: 15px;
              border-radius: 10px;
              cursor: pointer;
              position: relative;
              transition-duration: 300ms; }
              .card__list__item__comment__text.edit .card__list__item__comment__attach .image_add:hover {
                transform: scale(1.1);
                transition-duration: 300ms; }
                .card__list__item__comment__text.edit .card__list__item__comment__attach .image_add:hover:after {
                  top: 8px; }
              .card__list__item__comment__text.edit .card__list__item__comment__attach .image_add:after {
                content: "";
                mask: url("../img/icons/cross.svg");
                mask-size: contain;
                mask-repeat: no-repeat;
                background-color: #bdbdbd;
                display: inline-block;
                width: 20px;
                height: 20px;
                position: absolute;
                left: 8px;
                top: 9px; }
          .card__list__item__comment__text.delete {
            background-color: #ffffff;
            border-color: #e32118; }
          .card__list__item__comment__text .edit_text {
            border: none;
            background-color: transparent;
            width: 100%;
            resize: vertical;
            height: auto; }
          .card__list__item__comment__text .input_form {
            margin: 15px 0 0 0; }
            .card__list__item__comment__text .input_form input {
              padding: 10px 20px;
              font-size: 10pt;
              border-radius: 10px; }
          .card__list__item__comment__text__delete {
            width: 15px;
            height: 15px;
            margin: 5px 0;
            content: "";
            mask: url("../img/icons/delete.svg");
            mask-size: contain;
            mask-repeat: no-repeat;
            background-color: #bdbdbd;
            display: inline-block;
            transition-duration: 300ms;
            cursor: pointer; }
            .card__list__item__comment__text__delete:hover {
              transform: scale(1.2);
              transition-duration: 300ms; }
            .card__list__item__comment__text__delete.active {
              background-color: #e32118; }
          .card__list__item__comment__text__edit {
            width: 16px;
            height: 16px;
            margin: 5px 0;
            content: "";
            mask: url("../img/icons/edit.svg");
            mask-size: contain;
            mask-repeat: no-repeat;
            background-color: #bdbdbd;
            display: inline-block;
            transition-duration: 300ms;
            cursor: pointer; }
            .card__list__item__comment__text__edit:hover {
              transform: scale(1.2);
              transition-duration: 300ms; }
            .card__list__item__comment__text__edit.active {
              display: none !important; }
          .card__list__item__comment__text__confirm {
            color: #bdbdbd;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 8px 0 10px 56px;
            font-size: 10pt; }
            .card__list__item__comment__text__confirm span {
              flex: 1; }
            .card__list__item__comment__text__confirm .yes, .card__list__item__comment__text__confirm .no {
              display: inline-block;
              width: 17px;
              height: 17px;
              mask-size: contain;
              mask-repeat: no-repeat;
              cursor: pointer;
              transition-duration: 300ms; }
              .card__list__item__comment__text__confirm .yes:hover, .card__list__item__comment__text__confirm .no:hover {
                transform: scale(1.2);
                transition-duration: 300ms; }
            .card__list__item__comment__text__confirm .yes {
              width: 17px;
              height: 17px;
              margin-right: 15px;
              mask: url("../img/icons/check.svg");
              mask-size: contain;
              mask-repeat: no-repeat;
              background-color: #00983a; }
            .card__list__item__comment__text__confirm .no {
              width: 12px;
              mask: url("../img/icons/close.svg");
              mask-size: contain;
              mask-repeat: no-repeat;
              background-color: #e32118; }
          .card__list__item__comment__text__control {
            width: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            align-content: center;
            align-self: center;
            position: absolute; }
            .card__list__item__comment__text__control img {
              margin: 5px;
              width: 20px;
              display: none; }
            .card__list__item__comment__text__control.active img {
              display: inline-block; }
      .card__list__item.active .arrow {
        transform: rotate(180deg);
        line-height: .8;
        transition-duration: 300ms; }
      .card__list__item.active .card__list__item__content {
        transition-duration: 300ms; }
  .card__popup {
    padding: 0;
    width: 100%;
    max-width: 345px;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.55);
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center; }
    .card__popup .button {
      padding: 10px 60px; }
    .card__popup__input_container {
      padding: 0 25px; }
    .card__popup__notification {
      background-color: rgba(0, 0, 0, 0.5);
      padding: 10px;
      border-radius: 50px;
      color: #ffffff;
      font-size: 11pt;
      display: flex;
      align-items: center;
      font-weight: normal; }
      .card__popup__notification span {
        margin-left: 17px;
        margin-right: 15px; }
    .card__popup__close {
      position: absolute;
      left: calc(50% - 17px);
      top: -60px;
      transform: scale(0.8); }
    .card__popup__header {
      font-weight: bold;
      width: 100%;
      border-bottom: 1px solid #dadada;
      padding: 18px 0;
      font-size: 11pt; }
    .card__popup .input_selector {
      margin-bottom: 7px; }
    .card__popup .input_form textarea {
      min-height: 100px;
      margin-bottom: 13px; }
    .card__popup .photo_load {
      width: 100%;
      display: inline-block;
      font-size: 10pt;
      padding: 30px 50px;
      line-height: 1.2;
      margin-bottom: 16px; }
      .card__popup .photo_load p {
        margin: 0; }
    .card__popup h2 {
      font-size: 15pt;
      font-weight: normal;
      font-family: 'Conv_regular', Arial, Helvetica, sans-serif;
      margin: 32px 0 17px 0; }
  .card__tag {
    border: 1px solid #bdbdbd;
    border-top: none;
    position: absolute;
    right: 58px;
    width: 35px;
    height: 33px;
    top: 0;
    background-color: #f5f5f7;
    border-radius: 0 0 25px 25px; }
    .card__tag__edit {
      right: 54px; }
      .card__tag__edit:after {
        position: absolute;
        top: 5px;
        left: 7px;
        width: 21px;
        height: 21px;
        content: "";
        mask: url("../img/icons/edit.svg");
        mask-size: contain;
        mask-repeat: no-repeat;
        background-color: #bdbdbd; }
    .card__tag__monitor:after {
      position: absolute;
      top: 9px;
      left: 5px;
      width: 24px;
      height: 24px;
      display: inline-block;
      content: "";
      mask: url("../img/icons/eye.svg");
      mask-size: contain;
      mask-repeat: no-repeat;
      background-color: #bdbdbd; }
  .card__avatar {
    color: #ffffff;
    background-color: #878787;
    border-radius: 100%;
    margin-right: 16px;
    text-transform: uppercase;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .card__name {
    max-width: 200px; }
  .card__content {
    margin-bottom: 10px; }
    .card__content img {
      width: 100%;
      height: auto; }
  .card__video {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0; }
    .card__video iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
    .card__video:after {
      position: absolute;
      width: 30px;
      height: 30px;
      content: url("../img/icons/youtube.svg");
      right: 15px;
      top: 15px;
      cursor: pointer; }
  .card__date {
    font-weight: bold;
    margin-bottom: 7px; }
  .card__map {
    position: relative; }
    .card__map img {
      width: 100%;
      height: 100%;
      border-radius: 0px 0px 20px 20px; }
    .card__map__full img {
      border-radius: 20px 20px 20px 20px; }
    .card__map .button_container {
      margin-top: -55px;
      padding-bottom: 10px;
      display: flex;
      justify-content: center; }
      .card__map .button_container .btn {
        height: 42px; }
    .card__map .full_button {
      position: absolute;
      top: 22px;
      right: 22px;
      transform: scale(0.8); }
    .card__map .mark_button {
      padding: 9px 20px;
      position: relative;
      border-radius: 20px 0 0 20px; }
      .card__map .mark_button:after {
        content: "";
        mask: url("../img/icons/add_mark.svg");
        mask-size: contain;
        mask-repeat: no-repeat;
        background-color: #e32118;
        display: inline-block;
        width: 22px;
        height: 22px;
        position: absolute;
        top: 9px;
        left: 11px; }
      .card__map .mark_button__save {
        border-radius: 0 20px 20px 0; }
    .card__map__header {
      background-color: #fff;
      border-radius: 20px 20px 0 0;
      padding: 22px 27px;
      font-size: 10pt; }
      .card__map__header h2 {
        font-size: 12pt; }
    .card__map__small_mark.full, .card__map__small_mark.half, .card__map__small_mark.third, .card__map__small_mark.four {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 35px;
      height: 35px;
      background-size: 100%;
      background-position: center center;
      font-size: 11pt;
      background-repeat: no-repeat; }
    .card__map__small_mark.full {
      background-image: url("../img/map/circle_1.svg"); }
    .card__map__small_mark.half {
      background-image: url("../img/map/circle_2.svg"); }
    .card__map__small_mark.third {
      background-image: url("../img/map/circle_3.svg"); }
    .card__map__small_mark.four {
      background-image: url("../img/map/circle_4.svg"); }
    .card__map__big_mark {
      display: inline-flex;
      flex-direction: column;
      font-size: 10pt;
      text-align: center;
      font-weight: normal;
      background-color: #fff;
      padding: 5px 13px;
      border-radius: 50px;
      border: 3px solid #000;
      position: relative; }
      .card__map__big_mark:after {
        content: '';
        display: inline-block;
        width: 10px;
        height: 10px;
        position: absolute;
        bottom: -7px;
        left: calc(50% - 5px);
        transform: rotate(45deg);
        background-color: #ffffff;
        border-bottom: 3px solid #000;
        border-right: 3px solid #000; }
      .card__map__big_mark.gray {
        border: 3px solid #bdbdbd; }
        .card__map__big_mark.gray:after {
          border-bottom: 3px solid #bdbdbd;
          border-right: 3px solid #bdbdbd; }
      .card__map__big_mark.orange {
        border: 3px solid #f9b233; }
        .card__map__big_mark.orange:after {
          border-bottom: 3px solid #f9b233;
          border-right: 3px solid #f9b233; }
      .card__map__big_mark.red {
        border: 3px solid #e32118; }
        .card__map__big_mark.red:after {
          border-bottom: 3px solid #e32118;
          border-right: 3px solid #e32118; }
      .card__map__big_mark.green {
        border: 3px solid #00983a; }
        .card__map__big_mark.green:after {
          border-bottom: 3px solid #00983a;
          border-right: 3px solid #00983a; }
    .card__map__price {
      font-weight: bold;
      font-size: 12pt; }

@font-face {
  font-family: 'Conv_regular';
  src: url("../fonts/regular.eot");
  src: local("тШ║"), url("../fonts/regular.woff") format("woff"), url("../fonts/regular.ttf") format("truetype"), url("../fonts/regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Conv_medium';
  src: url("../fonts/medium.eot");
  src: local("тШ║"), url("../fonts/medium.woff") format("woff"), url("../fonts/medium.ttf") format("truetype"), url("../fonts/medium.svg") format("svg");
  font-weight: bold;
  font-style: normal; }
html, body {
  height: 100%; }

main {
  padding: 30px 0; }

body {
  font-family: 'Conv_regular', Arial, Helvetica, sans-serif;
  font-size: 10pt;
  background-color: #f8f8f8;
  line-height: 1.1;
  display: flex;
  justify-content: start;
  flex-direction: column; }

footer {
  margin-top: auto; }

a {
  font-family: 'Conv_medium', Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #3090bb;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 300ms; }
  a:hover {
    color: #3090bb;
    text-decoration: underline;
    transition-duration: 300ms; }
  a:active {
    color: #2881a0;
    text-decoration: underline;
    transition-duration: 300ms; }

h1, h2 {
  font-family: 'Conv_medium', Arial, Helvetica, sans-serif;
  font-weight: bold; }

h1 {
  font-size: 16pt; }

h2 {
  font-size: 14pt; }

h3 {
  font-size: 12pt; }

.note {
  color: #bdbdbd; }

.tag {
  font-size: 7pt;
  color: #f9b233;
  font-weight: bold; }

.btn-main {
  color: #fff;
  background-color: #e32118;
  border-color: #e32118;
  border-radius: 8em;
  padding: 10px 37px;
  font-size: 10pt;
  transition-duration: 300ms;
  box-shadow: 0px 7px 15px 0px rgba(227, 33, 24, 0.3); }
  .btn-main:hover {
    background-color: #cf1314;
    color: #fff;
    transition-duration: 300ms;
    border-color: #e32118; }
  .btn-main:focus {
    box-shadow: 0px 7px 15px 0px rgba(227, 33, 24, 0.3); }

.btn-second {
  background-color: #f5f5f7;
  border-color: #dadada;
  color: #3090bb;
  border-radius: 8em;
  padding: 10px 37px;
  font-size: 10pt;
  box-shadow: none; }
  .btn-second:hover {
    background-color: #e3e3e5;
    color: #3090bb;
    box-shadow: none; }
  .btn-second:active {
    border-color: transparent; }
  .btn-second:focus {
    box-shadow: none; }

.btn-third {
  color: #3090bb;
  box-shadow: none;
  font-size: 10pt; }
  .btn-third:hover {
    color: #3090bb;
    box-shadow: none;
    text-decoration: underline; }
  .btn-third:focus {
    box-shadow: none; }
  .btn-third:disabled {
    border: none;
    background-color: transparent; }
    .btn-third:disabled:hover {
      border: none;
      background-color: transparent;
      text-decoration: none; }

.btn-small {
  padding: 17px 17px;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 20px;
  height: 20px; }

.btn-size:after {
  left: 10px;
  top: 9px;
  height: 13px;
  width: 13px;
  position: absolute;
  content: "";
  mask: url("../img/icons/size.svg");
  mask-size: contain;
  mask-repeat: no-repeat;
  background-color: #ffffff; }

.btn-send:after {
  left: 10px;
  top: 9px;
  height: 14px;
  width: 14px;
  position: absolute;
  content: "";
  mask: url("../img/icons/send.svg");
  mask-size: contain;
  mask-repeat: no-repeat;
  background-color: #ffffff; }

.btn-check:after {
  left: 7px;
  top: 7px;
  height: 20px;
  width: 20px;
  position: absolute;
  content: "";
  mask: url("../img/icons/check.svg");
  mask-size: contain;
  mask-repeat: no-repeat;
  background-color: #ffffff; }

.btn-close:after {
  left: 10px;
  top: 10px;
  height: 13px;
  width: 13px;
  position: absolute;
  content: "";
  mask: url("../img/icons/close.svg");
  mask-size: contain;
  mask-repeat: no-repeat;
  background-color: #ffffff; }

.btn-disabled {
  background-color: #f5f5f7;
  color: #bdbdbd;
  border: 1px solid #dadada;
  box-shadow: none; }
  .btn-disabled:hover {
    background-color: #f5f5f7;
    color: #bdbdbd;
    border: 1px solid #dadada;
    box-shadow: none; }

.tab {
  border: 1px solid #dadada;
  color: #bebebe;
  display: flex;
  border-radius: 20px;
  font-size: 11pt; }
  .tab .tab-link {
    border-color: #dee2e6 #dee2e6 #dee2e6 #dee2e6;
    background-color: #fff;
    padding: 21px; }
    .tab .tab-link:first-child {
      border-radius: 20px 0 0 20px;
      border-right: 1px solid #dadada; }
    .tab .tab-link:last-child {
      border-radius: 0 20px 20px 0; }
  .tab .active {
    background-color: #e6f0f2;
    color: #000000 !important;
    transition-duration: 300ms; }
    .tab .active:hover {
      background-color: #dee9eb;
      transition-duration: 300ms; }

.popup_link {
  cursor: pointer;
  text-decoration: none;
  position: relative; }
  .popup_link img {
    width: auto;
    height: 20px; }
  .popup_link:hover:after {
    display: block; }
  .popup_link:after {
    display: none;
    position: absolute;
    content: "zakupki.gov.ru";
    text-decoration: none;
    background-color: #edf7f9;
    border-radius: 10px;
    padding: 10px 14px;
    left: 0; }

.photo_load {
  background-color: #fff;
  border-radius: 20px;
  color: #dadada;
  border: 1px dashed #dadada;
  padding: 40px 14px; }

.notion {
  color: red;
  font-size: 10pt;
  line-height: -1; }

/*# sourceMappingURL=style.css.map */
